In [6]:
import pandas as pd
data = pd.read_csv("E:\\LP1\\DA\\pima\\dataset\\tripdata.csv")
data.head()

,Duration,Start date,End date,Start station number,Start station,End station number,End station,Bike number,Member type
0,679,2018-05-01 00:00:00,2018-05-01 00:11:19,31302,Wisconsin Ave & Newark St NW,31307,3000 Connecticut Ave NW / National Zoo,W22771,Member
1,578,2018-05-01 00:00:20,2018-05-01 00:09:59,31232,7th & F St NW / National Portrait Gallery,31609,Maine Ave & 7th St SW,W21320,Casual
2,580,2018-05-01 00:00:28,2018-05-01 00:10:09,31232,7th & F St NW / National Portrait Gallery,31609,Maine Ave & 7th St SW,W20863,Casual
3,606,2018-05-01 00:01:22,2018-05-01 00:11:29,31104,Adams Mill & Columbia Rd NW,31509,New Jersey Ave & R St NW,W00822,Member
4,582,2018-05-01 00:04:52,2018-05-01 00:14:34,31129,15th St & Pennsylvania Ave NW/Pershing Park,31118,3rd & Elm St NW,W21846,Member

In [7]:
from sklearn.model_selection import train_test_split
trainD, testD = train_test_split(data, test_size = 0.4, random_state = np.random)

In [9]:
trainD.head()

,Duration,Start date,End date,Start station number,Start station,End station number,End station,Bike number,Member type
311638,383,2018-05-26 20:38:08,2018-05-26 20:44:32,31114,18th St & Wyoming Ave NW,31221,18th & M St NW,W23376,Member
17731,1070,2018-05-02 09:45:16,2018-05-02 10:03:07,31103,16th & Harvard St NW,31204,20th & E St NW,W00303,Casual
259681,911,2018-05-23 09:30:39,2018-05-23 09:45:51,31301,Ward Circle / American University,31310,Connecticut & Nebraska Ave NW,W00792,Casual
33087,233,2018-05-03 12:22:21,2018-05-03 12:26:14,31098,King St Metro North / Cameron St,31044,King St & Patrick St,W20319,Member
320986,1606,2018-05-27 15:28:51,2018-05-27 15:55:37,31200,Massachusetts Ave & Dupont Circle NW,31031,15th & N Scott St,W21006,Member

In [10]:
data = data[:2000]

In [11]:
len(data)

2000

In [20]:
from datetime import datetime
import operator
import math

In [18]:
def clean_data(dataset):
    new_dataset = []
    for i in range(len(dataset)):
        new_row = []
        row = dataset[i]
        new_row.append(row[0])
        start_time = datetime.strptime(row[1], '%Y-%m-%d %H:%M:%S')
        end_time = datetime.strptime(row[2], '%Y-%m-%d %H:%M:%S')
        trip_time = end_time.timestamp() - start_time.timestamp()
        new_row.append(trip_time)
        new_row.append(row[3])
        new_row .append(row[5])
        new_row.append(row[8])
        new_dataset.append(new_row)
    return new_dataset

new_dataset = clean_data(data.values.tolist())
new_dataset[:6]

[[679, 679.0, 31302, 31307, 'Member'],
 [578, 579.0, 31232, 31609, 'Casual'],
 [580, 581.0, 31232, 31609, 'Casual'],
 [606, 607.0, 31104, 31509, 'Member'],
 [582, 582.0, 31129, 31118, 'Member'],
 [175, 175.0, 31104, 31117, 'Member']]

In [19]:
trainD, testD = train_test_split(data, test_size = 0.35)

In [ ]:
def e_dist(inst1, inst2, length):
    dist = 0.0
    for i in range(len(length)):
        dist += pow((float(inst1[i]) - float(inst2[i])), 2)
    return math.sqrt(dist)

def getNeighbour(trainset, test, K):
    distance = []
    fo